:root {
    --main-font: "Playfair Display", serif; 
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}


/* Header */

header {
    /* position: sticky;
    top: 0; */
    height: 1173px;
    display: flex;
    justify-content: center;
    background-color: white;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 7%;
    width: 100%;
    border-bottom: 0.px solid grey;
    background-color: black;
    border: none;
    box-shadow: 1px 1px 4px;
}
.img-cover {
    position: absolute;
    width: 1595px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin-left: 4rem;
}
.logo {
    margin-top: 1rem;
    width: 5rem;
    height: 2.2rem;
}
.menu {
    height: 100%;
    z-index: 1;
    color: white;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 600;
}
.menu a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 3px 3px 2px black;
}
.menu a:hover {
    color: rgba(255, 255, 255, 0.817);
}
.menu a:active {
    color: rgb(254, 254, 254);
}



/* Main */

main {
    height: 100vh;
    width: 100%;
}
h1 {
    text-align: center;
    margin-top: 4rem;
}
.artwork {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    justify-items: center;
    align-content: space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;
}
.artwork img {
    height: 8rem;
    width: 9rem;
    border-radius: 8px;
    box-shadow: 1px 2px 3px;
    cursor: pointer;
}
.artwork img:hover {
    opacity: 0.9;
}
.artwork img:active {
    opacity: 1;
    box-shadow: inset 1px 2px 3px;
}
.img-container {
    text-align: center;
}
.art-name {
    margin-top: 0.5rem;
}
.price-tag {
    color: rgb(77, 77, 77);
    font-size: 500;
}
.img-button {
    border: none;
    width: 80px;
    height: 23px;
    border-radius: 8px;
    margin-top: 9px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(177, 96, 24);
    font-size: 15px;
    font-weight: 800;
}
.img-button:hover {
    color: rgba(177, 95, 24, 0.427);
}
.img-button:active {
    color: rgb(177, 96, 24);
}


/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 200px;
    background-color: rgb(177, 96, 24);
}
.footer-menu {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    font-size: 16px;
}
.footer-menu a {
    color: white;
    text-decoration: none;
}
.footer-menu a:hover {
    color: rgba(255, 255, 255, 0.783);
}
.footer-menu a:active {
    color: white;
}
.footer-logo--container {
}
.enya-logo {
    width: 6rem;
}