:root {
    --main-font: "Playfair Display", serif;
    --main-color: rgb(177, 96, 24);
    --secondary-color: rgb(9, 9, 9);
    --white:rgb(247, 247, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--main-font);
    height: 100vh;
}

body {
    height: 100%;
}

/* Header */

header {
    height: 6rem;
    min-width: 320px;
    width: 100%;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

.header--menu-button {
    height: 25px;
    width: 25px;
    border: none;
}




/* Main */

main {
    height: 100%;
    width: 100%;
}
.main--cover {
    height: 55vh;
    width: 100vw;
}
.main--cover img {
    height: 100%;
    width: 100%;
}

.main--title {
    text-align: center;
    line-height: 4rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
    height: 5rem;
}
.main--artwork {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.main--img-container {
    text-align: center;
}
.main--artwork img {
    height: 10rem;
    width: 14rem;
    border-radius: 8px;
    box-shadow: 1px 2px 3px;
    cursor: pointer;
}
.art-name {
    margin-top: 1rem;
}
.price-tag {
    color: rgb(77, 77, 77);
    font-size: 500;
}
.img-button {
    border: none;
    width: 8rem;
    height: 2rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: var(--main-color);
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 2rem;
}
.artwork img:hover {
    opacity: 0.9;
}
.artwork img:active {
    opacity: 1;
    box-shadow: inset 1px 2px 3px;
}
.img-button:hover {
    color: rgba(177, 95, 24, 0.427);
}
.img-button:active {
    color: var(--main-color);
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    margin-top: 50rem;
    height: 14rem;
    background-color: var(--main-color);
}
.footer--menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    font-size: 12px;
    margin-left: 2rem;
}
.footer--menu a {
    color: white;
    text-decoration: none;
}
.footer-menu a:hover {
    color: rgba(255, 255, 255, 0.783);
}
.footer-menu a:active {
    color: white;
}

.footer--credits-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 12px;
}